[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "external/linux-src/linux"]
	path = external/linux-src/linux
	url = https://github.com/raspberrypi/linux.git
	branch = rpi-6.5.y
